*{ 
    padding: 0;
    margin: 0;
    font-size:large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.main{
    height: 100vh;
    width: 100vw;
    background:#f0d8ca;
    
}
.Header{
    padding:5px;
    display: flex;
    height:40px;
    flex-direction: row;
    justify-content: space-between;
}
.UL{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.HeadButton{
    padding:  5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
}
a{
    text-decoration: none;
}